* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "JetBrains Mono", monospace;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 15%,
    rgba(253, 29, 29, 1) 43%,
    rgba(252, 176, 69, 1) 72%
  );
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #281c31;
  width: 25%;
  padding: 2rem;
  border-radius: 1.6rem;
  box-shadow: inset 0 0 0 1px #888;
}
.nav-circles {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}
.cir {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #816772;
  border-radius: 50%;
}
.imp {
  font-size: 2rem;
  color: whitesmoke;
  word-spacing: 0.6rem;
}
.fun {
  font-size: 2rem;
  color: whitesmoke;
}
.imps {
  color: rgb(144, 146, 227);
}
.form {
  color: rgb(144, 146, 227);
}
.red {
  color: rgb(247, 12, 122);
}
